.dash {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}

.dash > ul {
    display: inline-flex;
    
}