.dash {
    height: auto;
    display: flex;
    margin-top: 7vh;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 3;
}

.dash > ul {
    display: inline-flex;
    
}

@media screen and (max-width: 850px){
    .dash > ul{
    display: flex;
    margin-top: 2vh;
    }
 
 }