.dash {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}

.dash > ul {
    display: inline-flex;
    
}

@media screen and (max-width: 850px){
    .dash > ul{
    display: flex;
    margin-top: 100px;
    }
 
 }