.form {
    height: 100vh;
    /* border: 2px solid black; */
    padding: 20px;
}

.input-box {
    height: 50px;
    width: 1000px;
    margin: 20px;
    font-size: x-large;
}

.input-label {
    color: white;
}

@media screen and (max-width: 850px){
    .form {
        height: 90vh;
        padding-top: 200px;
        
    }


    .input-box{
     width: 80%;
     height: 25px;
     margin-left: 10px;
     margin-right: 10px;

    }
 
 }

 