.form {
  margin-top: 125px;
  height: 75vh;
  padding: 20px;
}

.checkbox {
  color: white;
}

.input-box {
  height: 150px;
  width: 800px;
  margin: 20px;
  font-size: large;
}

.input-label {
  color: black;
}

.form-btn {
  border: none;
  background-color: #17343A;
  color: white;
  padding: 5px;
  width: 5vw;
  margin: 5px;
}

@media (prefers-color-scheme: dark){
  .input-label {
    color: white;
  }
}

@media screen and (max-width: 850px) {
  .form {
    height: 70vh;
    padding-top: 25px;
    overflow: hidden;
  }

  .input-box {
    width: 80%;
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
  }

  .form-btn {
    width: 25vw;
  }
}
