.nav {
    background: #17343A;
    background-size: cover;
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    width: 100vw;
    z-index: 2;
}

.search {
    width: 300px;
    margin-top: 20px;
    z-index: 3;
}

.search-input {
    border: none;
    margin-right: 5px;
    /* background-color: #3CBD9F; */
    height: 25px;
}

.search-button {
    border: none;
    height: 25px;
    background-color: #17343A;
        color: white;
    margin: 2px;
}

.user {
    width: 300px;
    margin-top: 17px;
    font-size: xx-large;
    color: white;
    /* text-shadow: 2px 2px white; */
}

.nav-list {
    width: 300px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (prefers-color-scheme: dark) {
   .search-button {
        background-color: #17343A;
        color: white;
    } 

    .search-input{
        background-color: black;
        color: white;
    }
}

@media screen and (max-width: 850px){
    .nav{
        flex-direction: column-reverse;
        
        position: fixed;
        backdrop-filter: blur(5px);
        height: 10vh;
        top: 0;
        z-index: 2;
    }
    
    .search {
        width: 100vw;
        margin-bottom: 15px;
        /* position: sticky; */
    }

    .user {
        display: none;
    }

    .nav-list {
        width: 100vw;
    }
 }