.quote-box {
  background-color: white;
  backdrop-filter: blur(8px);
  height: 400px;
  width: 40vw;
  font-size: large;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  font-family: Optima, sans-serif;
  margin: 2rem;
  padding: 10px;
}

.quote {
  font-size: x-large;
  width: 100%;
  margin-top: 10px;
}

.quote-info {
  height: 50px;
}

.edit-quote-box{
  height: 325px;
  width: 35vw;
}

.edit-input {
  width: 80%;
  height: 50px;
  margin: 10px;
}

.edit-button, .delete-button, .fav-button, .save-button, .cancel-button, .-fav-button {
  border: none;
  height: 40px;
  width: 90px;
  position: absolute;
  bottom: 2%;
  margin: 10px;
}

.edit-button, .delete-button, .fav-button, .save-button, .-fav-button {
  background-color: #17343A;
  color: white;
}

.edit-button {
  left: 5%;
}

.delete-button {
  left: 42%;
}

.-fav-button {
  left: 42%
}

.fav-button {
  right: 5%;
}

.save-button {
  left: 10%;
}

.cancel-button {
  background-color: red;
  right: 10%;
}

@media (prefers-color-scheme: dark) {
  .quote-box {
    background-color: black;
  }

  .edit-button, .delete-button, .fav-button, .save-button {
    background-color: #3CBD9F;
    color: black;
  }
}

@media screen and (max-width: 800px) {
  .edit-quote-box{
    width: 90vw;
  }
  
  .quote-box {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 2.5%;
  }

  .quote {
    font-size: large;
  }

  .quote-info {
    font-size: large;
  }

  .edit-button {
    left: 2%;
  }

  .delete-button {
    left: 35%;
  }

  .fav-button {
    right: 2%
  }
 
}
