

.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

@media screen and (max-width: 850px){
   .App{
     background-image: url(./mobile-background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   }

}

