.full-app {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

.App {
  
}

@media (max-width: 850px) {
  .full-app {
    background-image: url(./mobile-background.jpg);
    
  }
}
